<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h2><%= @product.name %> $ <%= @product.price %></h2>
        <p>Amount: <%= @product.qtd %> un</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h4>Edit:</h4>
        <%= render 'form' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <p><%= link_to "Delete item", product_path(@product), method: :delete, data: { confirm: "Are you sure? "} %></p>
        <p><%= link_to "Return to products", products_path %></p>
      </div>
    </div>
  </div>
</div>


